# Auto detect text files and perform LF normalization
* text=auto
*.pstaticmesh filter=lfs diff=lfs merge=lfs -text
*.ptexture filter=lfs diff=lfs merge=lfs -text
*.pshader filter=lfs diff=lfs merge=lfs -text
*.pmaterial filter=lfs diff=lfs merge=lfs -text
*.pmaterialinst filter=lfs diff=lfs merge=lfs -text
